html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd,
q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark,
audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu,
nav, section {
display: block;
}
body {
line-height: 1.2;
}
ol {
padding-left: 1.4em;
list-style: decimal;
}
ul {
padding-left: 1.4em
list-style: square;
}
table {
border-collapse: collapse;
border-spacing: 0;
}


.l {display:none}
.b {text-decoration:underline; cursor: pointer}
#restart  {text-decoration:underline; 
     text-align: center;
     cursor: pointer;}
     #restart:hover {
        text-shadow: 0.5px 0.5px 0.75px #BBAA87, 0 0 0.5px gray}
#look  {text-decoration:underline; 
     text-align: center;
     cursor: pointer;}
     #look:hover {
        text-shadow: 0.5px 0.5px 0.75px #BBAA87, 0 0 0.5px gray}
		
body {background-color:#FFE8C3; color:#070601; font-family: Philosopher; 
     font-size: 18px; 
     line-height: 1.45; 
     margin-left: 20px; 
     margin-right: 15px;
     margin-top: 20px;}

/*span:hover {text-shadow: 0.25px 0.25px 0.25px #BBAA87, 0 0 0.25px gray}
div::selection {color: #ff0; background: #a37b35; }
span::selection{color: #ff0; background: #a37b35; }

*/
@font-face {
    font-family: MarckScript-Regular; 
    src: url(MarckScript-Regular.ttf);

   }
   @font-face {
	font-family: FontdinerSwanky;
	src: url(FontdinerSwanky.ttf);
	
   }
#cssmenu {
    position: fixed;
    left: 100;
    top: 0;
    width: 100%;
    background-color:#FFE8C3;
	 color: white;
}

.link-tooltip {
font-style: italic;

}

.dropdown .dropdown-menu {
    
	 background-color: #000;
	 opacity: 0.9;
	 overflow: visible;
 }
.dropdown .show {
margin-bottom: 0px;
	margin-top: 0px;
padding: 0;
border-radius: 8px;
}

.dropdown-item {
border-radius: 6px;
	color: #CDC6C6;
}
/*DAA520*/
.blood {
 color: #ff1e00;
}
/*FF2400 ff1e00 ff0d00 */

a {
   outline: none; 
   text-decoration: none;
   color: #3076BF;

}
   }
a:hover {
   outline: none; 
   text-decoration: none;
   }
   
.blood:hover {
 color: #A61700;
 text-decoration: none;
}

body {
    background-color: #CDC6C6;
}
/*CDC6C6*/
/*CDC6C6*/
/*CDC6C6*/
/*CDC6C6*/
.col-3 {
    flex: 0 0 25%;
    max-width: 15%;
}


 /* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
} 

.game_name {
	padding:0;
	margin-top: 0;
	font-family: MarckScript-Regular;
	font-size: 4em;
	text-align: center;
}

#main_window {
 visibility: hidden;
}
#right_columns {
 visibility: hidden;
}
html, body {
  height: 100%;
  margin: 0;
}
.container {
	padding-bottom: 0;
	min-height: calc(99vh - 40px);
}
.col-3 {
	position: relative;
	flex: 0 0 16.666667%;
max-width: 16.666667%;

}
.container {
word-wrap: normal;

}
.show:hover {

}
.row-2 {
text-align: center;

 height: 25px;
top: 50%;
margin-bottom: 0;
 padding-bottom: 0;

}
/* text-align: center;

 height: 25px;
top: 50%;
margin-bottom: 0;
 padding-bottom: 0;*/
.game_over {
	text-align: center;
	margin-top: 2em;
	font-family: MarckScript-Regular;
	font-size: 125%;
}
.credits {
font-family: FontdinerSwanky;
font-size: 120%;	
text-align: center;
}
.gamest {
	font-size: 150%;
}
#static_text {
	text-align: center;
}
.game_over {
	margin-top: 1em;
	font-style: italic;
}
#response {
	font-style: italic;
}